<?xml version='1.0' encoding='utf-8'?>
<widget id="io.fanlik.planner" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Планеровщик</name>
    <description>Мой планеровщик</description>
    <author email="student1883@mail.ru" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <access origin="*"></access>
    <platform name="android">    
        <allow-intent href="market:*" />
        <icon src="www/img/icon.png" />
        <custom-config-file target="AndroidManifest.xml" parent="/*">
                <uses-permission android:name="android.permission.INTERNET" />
                <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
                <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
                <!--<uses-permission android:name="android.permission.NETWORK_ACCESS" />-->
                    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </custom-config-file>

    </platform>
</widget>
